extends layout

block content
  h1= 'Disfruta de nuestras ofertas'
  h2=  '"la satisfaccion del cliente, es la nuestra"'
  <br>
  <hr/>
    <div class="container">
  <div class="row">
    <div class="col-sm">
    <div class="card" style="width: 20rem; ">
  <img src="https://pix6.agoda.net/hotelImages/270/270990/270990_1112190634005222878.jpg?s=450x450" style="height: 14rem; "class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Boutique Hotel Palacio</h5>
    <p class="card-text">Boutique Hotel Palacio es uno de los hoteles mejor valorados con una lujosa propiedad de 4 estrellas, convenientemente ubicado a solo 6.5km (4.1 mi) del centro de Santo Domingo</p>
    <a href="https://www.agoda.com/es-es/boutique-hotel-palacio/hotel/all/santo-domingo-do.html?finalPriceView=1&isShowMobileAppPrice=false&cid=1844104&numberOfBedrooms=&familyMode=false&adults=2&children=0&rooms=1&maxRooms=0&checkIn=2020-10-15&isCalendarCallout=false&childAges=&numberOfGuest=0&missingChildAges=false&travellerType=1&showReviewSubmissionEntry=false&currencyCode=USD&isFreeOccSearch=false&los=2&searchrequestid=00000000-0000-0000-0000-000000000000" class="btn btn-primary" >Ver mas </a>
  </div>
  </div>
    </div>
       <div class="col-sm">
    <div class="card" style="width: 20rem; ">
  <img src="https://q-xx.bstatic.com/xdata/images/hotel/max500/184949040.jpg?k=b776813f4c5838c6060c7efa9f9fd477e198e78c1585cb7969ae4d214c92035e&s=50x50" style="height: 14rem;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">HOTEL CARIBE SANTO DOMINGO</h5>
    <p class="card-text">El HOTEL CARIBE SANTO DOMINGO, situado en Santo Domingo, a 750 metros de Guibia, ofrece vistas al mar, WiFi gratuita y aparcamiento privado gratuito.</p>
    <a href="https://www.agoda.com/es-es/hotel-caribe-santo-domingo/hotel/all/santo-domingo-do.html?finalPriceView=1&isShowMobileAppPrice=false&cid=1844104&numberOfBedrooms=&familyMode=false&adults=2&children=0&rooms=1&maxRooms=0&checkIn=2020-10-15&isCalendarCallout=false&childAges=&numberOfGuest=0&missingChildAges=false&travellerType=1&showReviewSubmissionEntry=false&currencyCode=USD&isFreeOccSearch=false&tspTypes=8&los=2&searchrequestid=00000000-0000-0000-0000-000000000000" class="btn btn-primary">Ver mas </a>
  </div>
  </div>
    </div>
       <div class="col-sm">
    <div class="card" style="width: 20rem; ">
  <img src="https://pix5.agoda.net/hotelImages/2668246/0/0f70ca07de694de73936126f21237049.jpg?s=450x450" style="height: 14rem;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Catalonia Santo Domingo</h5>
    <p class="card-text">Catalonia Santo Domingo es un sensacional hotel de 21 pisos que se encuentra frente al mar, con ventanales que permiten disfrutar la hermosa vista desde todos los pisos.</p>
    <a href="https://www.agoda.com/es-es/catalonia-santo-domingo_5/hotel/santo-domingo-do.html?finalPriceView=1&isShowMobileAppPrice=false&cid=1844104&numberOfBedrooms=&familyMode=false&adults=2&children=0&rooms=1&maxRooms=0&checkIn=2020-10-15&isCalendarCallout=false&childAges=&numberOfGuest=0&missingChildAges=false&travellerType=1&showReviewSubmissionEntry=false&currencyCode=USD&isFreeOccSearch=false&los=2&searchrequestid=00000000-0000-0000-0000-000000000000" class="btn btn-primary" >Ver mas </a>
  </div>
  </div>
    </div>

    <div class="col-sm">
    <div class="card mt-5" style="width: 20rem; ">
  <img src="https://q-xx.bstatic.com/xdata/images/hotel/max500/94258438.jpg?k=10a1bd61f6ee5c8e74a7498d04e38e9b14b3a37bd4a594e4e60987f35a54269d&s=450x450" style="height: 14rem;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hotel Santander SD</h5>
    <p class="card-text">Con Wi-Fi gratuito y una terraza-salarium, el Hotel Santander SD ofrece un cálido alojamiento que acepta mascotas en La Julia.</p>
    <a href="https://www.agoda.com/es-es/hotel-santander-sd/hotel/all/santo-domingo-do.html?finalPriceView=1&isShowMobileAppPrice=false&cid=1844104&numberOfBedrooms=&familyMode=false&adults=2&children=0&rooms=1&maxRooms=0&checkIn=2020-10-15&isCalendarCallout=false&childAges=&numberOfGuest=0&missingChildAges=false&travellerType=1&showReviewSubmissionEntry=false&currencyCode=USD&isFreeOccSearch=false&tspTypes=2&los=2&searchrequestid=00000000-0000-0000-0000-000000000000" class="btn btn-primary" >Ver mas </a>
  </div>
  </div>
    </div>
    <div class="col-sm">
    <div class="card mt-5" style="width: 20rem; ">
  <img src="https://pix6.agoda.net/hotelImages/66307/-1/4289668eb56eae881141191c3c7230db.jpg?s=450x450" style="height: 14rem;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">El Embajador</h5>
    <p class="card-text">Este complejo turístico ofrece habitaciones equipadas con un mini bar, un sistema estéreo y equipo de alta fidelidad. Cada unidad viene con cuartos de baño privados con secadores de pelo, un gorro de ducha y toallas de baño.</p>
    <a href="https://www.agoda.com/es-es/el-embajador-a-royal-hideaway-hotel_4/hotel/santo-domingo-do.html?asq=NQVGXW6jsE3tbdY9S%2BqUCp0JwTfV6yc1JVebGYhfG8bmpjBPE2VmKfwK%2BuSgcvowhOrJbll7uR0QwvXzJ%2BwdSmXTHaUyOaiMwoCVZax2nzkJ5B%2BOxW2foSB5q4qGW2HpxDftxzeeUD4leEKmfR6%2FVZvXpKrFhF0nmcsuvPruIH2GgNWwMWqj7pZSWSUyO9KmikrSP3cx4715NAYXt0MMqYpbD9iRKAqhAauZ0YpJwsY%3D&city=18340&cid=1844104&tick=637384025691&languageId=5&userId=c4ae30c5-e7d2-4360-9799-bd12119722a6&sessionId=1tz3s53vyovay1mi0jfqtbzh&pageTypeId=4&origin=DO&locale=es-ES&aid=130589&currencyCode=USD&htmlLanguage=es-es&cultureInfoName=es-ES&ckuid=c4ae30c5-e7d2-4360-9799-bd12119722a6&prid=0&checkIn=2020-10-15&checkOut=2020-10-17&rooms=1&adults=2&children=0&priceCur=USD&los=2&textToSearch=Santo%20Domingo&travellerType=1&familyMode=off&productType=-1" class="btn btn-primary">Ver mas </a>
  </div>
  </div>
    </div>

    <div class="col-sm">
    <div class="card mt-5" style="width: 20rem; ">
  <img src="https://pix6.agoda.net/hotelImages/5443406/0/64533258b74f07b9a11d823e1c7543dc.jpg?s=450x450" style="height: 14rem;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sheraton Santo Domingo Hotel</h5>
    <p class="card-text">El Sheraton Santo Domingo Hotel está situado en el centro de Santo Domingo con una vista sobre el mar Caribe. </p>
    <a href="https://www.agoda.com/es-es/sheraton-santo-domingo-hotel/hotel/santo-domingo-do.html?asq=NQVGXW6jsE3tbdY9S%2BqUCp0JwTfV6yc1JVebGYhfG8bmpjBPE2VmKfwK%2BuSgcvowhOrJbll7uR0QwvXzJ%2BwdSmXTHaUyOaiMwoCVZax2nzkJ5B%2BOxW2foSB5q4qGW2HpxDftxzeeUD4leEKmfR6%2FVZvXpKrFhF0nmcsuvPruIH2GgNWwMWqj7pZSWSUyO9KmikrSP3cx4715NAYXt0MMqYpbD9iRKAqhAauZ0YpJwsY%3D&city=18340&cid=1844104&tick=637384025691&languageId=5&userId=c4ae30c5-e7d2-4360-9799-bd12119722a6&sessionId=1tz3s53vyovay1mi0jfqtbzh&pageTypeId=4&origin=DO&locale=es-ES&aid=130589&currencyCode=USD&htmlLanguage=es-es&cultureInfoName=es-ES&ckuid=c4ae30c5-e7d2-4360-9799-bd12119722a6&prid=0&checkIn=2020-10-15&checkOut=2020-10-17&rooms=1&adults=2&children=0&priceCur=USD&los=2&textToSearch=Santo%20Domingo&travellerType=1&familyMode=off&productType=-1" class="btn btn-primary">Ver mas </a>
  </div>
  </div>
    </div>
  

  </div>
  </div>







